
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: ($direction);
  justify-content: ($justify);
  align-items: ($align);
}
@mixin flexAlign($direction,  $align) {
  display: flex;
  flex-direction: ($direction);
  align-items: ($align);
}

@mixin flexJustify($direction,$where) {
  display: flex;
  flex-direction: ($direction);
  justify-content: ($where);
}
