@import "src/styles/mixin";

.header {
  @include flex(row, space-between, center);
  height: 80px;
  width: auto;
  padding: 0 100px;

  > nav {
    height: 100%;

    > ul {
      height: 100%;
      display: flex;
    }
  }

  > span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: red;
  }
}